{
  "printWidth": 120,
  "semi": false,
  "trailingComma": "all",
  "importOrder": [
    "^([^@]|@[^/]).*?$",
    "^@/server.*?$",
    "^@/store.*?$",
    "^@/data.*?$",
    "^@/env.*?$",
    "^@/const.*?$",
    "^@/config.*?$",
    "^@/ds.*?$",
    "^@/layout.*?$",
    "^@/components.*?$",
    "^@/hooks.*?$",
    "^@/lib.*?$",
    "^.*?$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
